<html>
  <head>
     <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post">
        <img src="cart.png">
        
        <input type="text" id="input" name="username" placeholder="USERNAME">
        <input type="password" id="password" name="password" placeholder="PASSWORD">
        <button type="submit" id="submit">LOGIN</button>
         <a href="/register" style="color: white;"><p>Forgot Password?</p></a>
      </form>
     
    </div>
  
  </body>
</html>