<html>
  <head>
     <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="container">
      <form action="/register" method="post">
        <img src="cart.png">
        
        <input type="text" id="input" name="username" placeholder="USERNAME">
        <input type="email" id="input" name="email" placeholder="EMAIL">
        <input type="password" id="password" name="password" placeholder="PASSWORD">
        <button type="submit" id="submit">REGISTER</button>
       <a href="/login" style="color: white;"><p>Old User?</p></a>
      </form>
     
    </div>
  
  </body>
</html>